body{
  background-image: url("../img/about.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.cool2{
  color: #424949;
  margin-left: 300px;
  margin-right: 300px;
  border-style: solid;
  border-color: #61788F;
  font-family: 'Lobster', cursive;
}
nav ul {
  display: inline-block;
}
nav ul li{
  display: inline-block;
}
nav{
  display: inline-block;
  text-decoration: none;
  color: white;
}
