nav ul {
  display: inline-block;
}
nav ul li{
  display: inline-block;
}
nav ul li a{
  display: inline-block;
  color: #fff;
}
nav{
  display: inline-block;
  text-decoration: none;
  color: white;
}
body{
  background-image: url("../img/pro.jpg");
  background-repeat: no-repeat;
  background-position:center;
}
#pro1{
 border-radius:50%;
 height: 40vh;
 width:450px;
 float: left;
}
#pro2{
 border-radius:50%;
 height: 40vh;
 width:40vh;
 }
 .th1{
   float: left;
   display: block;
   width:450px;
 }
 #pro3{
  border-radius:50%;
  height: 40vh;
  width:40vh;
  }
